<script setup lang="ts">
import ShopProduct from './ShopProduct.vue';
import type { ProductInterface } from '@/interfaces';

defineProps<{
    products: ProductInterface[];
}>();

const emit = defineEmits<{
    (e: 'addProductToCart', productId: number): void;
}>();

</script>

<template>
    <div class="grid grid-cols-4 gap-6 p-6">
        <ShopProduct 
            @add-product-to-cart="emit('addProductToCart', $event)"
            v-for="product of products"
            :key="product.id"
            :product="product"
        />
    </div>
</template>

<style scoped>
.grid {
    grid-auto-rows: 400px;
}
</style>