<script setup lang="ts">
import type { ProductInterface } from '@/interfaces';

defineProps<{
    product: ProductInterface
}>();

const emit = defineEmits<{
    (e: 'addProductToCart', productId: number): void;
}>();

const lengthDescription = 100;

</script>

<template>
    <div class="flex flex-col bg-white border rounded">
        <div class="bg-contain bg-center h-full max-h-48 bg-no-repeat bg-white rounded-t"
            :style="{ backgroundImage: `url(${product.image})` }"></div>
        <div class="p-3 flex flex-col border-t">
            <h4 class="text-center font-extrabold mb-3">{{ product.title }}</h4>
            <p>{{ product.description.length > lengthDescription ? product.description.slice(0, lengthDescription) + '...' :
                product.description }}</p>
            <div class="flex flex-row items-center mt-3">
                <strong class="grow">Prix : {{ product.price }} €</strong>
                <button 
                    class="btn btn-blue" 
                    @click="emit('addProductToCart', product.id)"
                >Ajouter</button>
            </div>
        </div>
    </div>
</template>

<style scoped></style>