<script setup lang="ts">
import type { ProductCartInterface } from '@/interfaces';

defineProps<{
    product: ProductCartInterface;
}>();

const emit = defineEmits<{
    (e: 'removeProductFromCart', productId: number): void;
}>();

</script>

<template>
    <div class="bg-gray-100 mb-3 p-3 flex flex-row items-center border rounded">
        <strong class="mr-2">{{ product.title }}</strong>
        <span class="grow mr-1">x {{ product.quantity }}</span>
        <span class="mr-1">Prix : {{ product.price }} €</span>
        <button
            class="btn btn-danger"
            @click="emit('removeProductFromCart', product.id)"
        >supprimer</button>
    </div>
</template>

<style scoped>
</style>