<script setup lang="ts">
import { computed } from 'vue';
import CartProductList from './CartProductList.vue';
import type { ProductCartInterface } from '@/interfaces';

const props = defineProps<{
    cart: ProductCartInterface[];
}>();

const totalPrice = computed(() => props.cart.reduce((acc, product) => {
    return acc + product.price * product.quantity;
}, 0));

const emit = defineEmits<{
    (e: 'removeProductFromCart', productId: number): void;
}>();

</script>

<template>
    <div class="bg-white p-6 border-l flex flex-col">
        <h2 class="mb-3">Panier</h2>
        <CartProductList
            class="grow"
            :cart="cart"
            @remove-product-from-cart="emit('removeProductFromCart', $event)"
        />
        <button class="btn btn-success">Commander ({{ totalPrice }} €)</button>
    </div>
</template>

<style scoped>
</style>