<script setup lang="ts">
</script>

<template>
    <footer class="bg-gray-700 text-white flex flex-row justify-center items-center py-6">
        <p>Copyright © 2014-2023 Ma Petite Boutique</p>
    </footer>
</template>

<style scoped>
</style>
