<script setup lang="ts">
import Logo from '@/assets/images/ma-petite-boutique.png';
</script>

<template>
    <header class="bg-blue-400 flex flex-row items-center py-6">
        <a href="#" class="flex flex-row items-center ml-8 mr-12">
            <img :src="Logo" alt="logo Ma petite boutique" class="w-10 h-10 mr-3" />
            <span class="font-bold text-white">Ma Petite Boutique</span>
        </a>
        <ul class="flex flex-row grow">
            <li class="mr-6">
                <a href="#" class="text-white">Shop</a>
            </li>
            <li class="mr-6">
                <a href="#" class="text-white">Admin</a>
            </li>
        </ul>
        <ul class="flex flex-row">
            <li class="mr-6">
                <a href="#" class="text-white">Inscription</a>
            </li>
            <li class="mr-6">
                <a href="#" class="text-white">Connexion</a>
            </li>
        </ul>
    </header>
</template>

<style scoped>
</style>
