<script setup lang="ts">
import TheHeader from "./components/HeaderComponent.vue";
import TheFooter from "./components/FooterComponent.vue";
import Shop from "./components/Shop/ShopComponent.vue";
import Cart from "./components/Cart/CartComponent.vue";
import data from "./data/products";
import { reactive, computed } from 'vue';
import type { ProductCartInterface, ProductInterface } from './interfaces';

const state = reactive<{
  products: ProductInterface[],
  cart: ProductCartInterface[],
}>({
  products: data,
  cart: [],
});

function addProductToCart(productId: number): void {
  const product = state.products.find((product) => product.id === productId);
  if (product) {
    const productInCart = state.cart.find((product) => product.id === productId);
    if (productInCart) {
      productInCart.quantity++;
    } else {
      state.cart.push({ ...product, quantity: 1 });
    }
  }
}

function removeProductFromCart(productId: number): void {
  const productInCart = state.cart.find((product) => product.id === productId);
  if (productInCart) {
    if (productInCart.quantity === 1) {
      state.cart = state.cart.filter((product) => product.id !== productId);
    } else {
      productInCart.quantity--;
    }
  }
}

const cartEmpty = computed(() => state.cart.length === 0);

</script>

<template>
  <div class="app-container min-h-screen grid" :class="{
    gridEmpty: cartEmpty,
  }">
    <TheHeader class="header"/>
    <Shop
      :products="state.products" 
      @add-product-to-cart="addProductToCart" 
      class="shop"
    />
    <Cart
      v-if="!cartEmpty"
      :cart="state.cart"
      @remove-product-from-cart="removeProductFromCart"
      class="cart"
    />
    <TheFooter class="footer"/>
  </div>
</template>

<style scoped>

.app-container {
  grid-template-areas: "header header" "shop cart" "footer footer";
  grid-template-columns: 75% 25%;
  grid-template-rows: 48px auto 48px;
}

.gridEmpty {
  grid-template-areas: "header" "shop" "footer";
  grid-template-columns: 100%;
}

.header {
  grid-area: header;
}

.shop {
  grid-area: shop;
}

.cart {
  grid-area: cart;
}

.footer {
  grid-area: footer;
}
</style>
./interfaces/Product.interface