@tailwind base;

@layer base {
  * {
    @apply box-border;
  }
  body {
    @apply min-h-full p-0 m-0 bg-gray-100 text-gray-500 font-sans;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  p {
    @apply text-sm;
  }
  strong {
    @apply font-semibold text-sm;
  }
  span {
    @apply text-xs;
  }
  a {
    @apply text-gray-500 no-underline;
  }
  ul {
    @apply list-none p-0;
  }
  h1, h2, h3, h4 {
    @apply m-0;
  }
  img {
    @apply max-w-full;
  }
  .btn {
    @apply font-semibold py-2 px-4 rounded text-xs transition duration-200 ease-in-out;
  }
  .btn-blue {
    @apply bg-blue-400 text-white;
  }
  .btn-danger {
    @apply bg-red-400 text-white;
  }
  .btn-blue:hover {
    @apply bg-blue-700 text-white;
  }
  .btn-success {
    @apply bg-green-400 text-white;
  }
}

@tailwind components;
@tailwind utilities;
